.app.dark {
    .content {
        background-color: #F5F6F8;
    }

    .ps-sidebar-container, .navbar {
        background-color: black;
    }

    .ps-sidebar-container {
        .icon, .ps-menu-label {
            color: whitesmoke;
        }

        .ps-menu-button:hover {
            background: red;
        }
    }

    .navbar {
        margin-left: -1px;
        .navbar-search-bar {
            background-color: whitesmoke;
        }

        .navbar-icons {
            color: whitesmoke;
        }
    }

    // background-color: #222;
    // color: whitesmoke;

    // .navbar {
    //     color: #999;
    //     border-color: #444;

    //     .search {
    //         border-color: gray;
    //     }
    // }

    // .sidebar {
    //     background-color: #111;
    //     border-color: #444;

    //     .top {
    //         .logo {
    //             color: #999;
    //         }
    //     }

    //     hr {
    //         border-color: #444;
    //     }

    //     ul {
    //         li {
    //             &:hover{
    //                 background-color: #444;
    //             }

    //             .icon {
    //                 color: #999;
    //             }

    //             span {
    //                 color: whitesmoke;
    //             }
    //         }
    //     }
    // }

    // h1, td {
    //     color: black;
    // }
}