@import "../_variables.scss";

#datatable-att {
    height: 350px;
}

.datatable {
    height: 600px;
    padding: 20px;
    font-family: $general-font;

    .dabiWebText {
        font-weight: bold;
        font-size: larger;
    }

    .add-button {
        width: 100px;
        height: 30px;
        border: none;
        color: white;
        border-radius: 20px;
        background-color: $gray-dabi;
        margin-bottom: 5px;
        margin-left: 10px;
        font-weight: 600;
        vertical-align: middle;
    }

    .add-button:hover {
        background-color: $red-dabi;
        font-weight: 600;
    }

    .add-button:disabled {
        background-color: #EBEBE4;
        font-weight: 600;
        color: black;
    }

    .MuiDataGrid-columnHeaders {
        background-color: $table-header;
    }

    .cellAction {
        display: flex;
        align-items: center;
        gap: 25px;

        .detail-icons {
            cursor: pointer;
            width: 18px;      
            height: 18px;          
        }

        .detail-add-icon {
            cursor: pointer;
            width: 20px;      
            height: 20px;   
        }

        #update-icon {
            color: $gray-dabi;
        }

        #delete-icon {
            color: $red-dabi;
        }

        #addcontact-icon {
            color: $gray-dabi;
        }

        /*.vieweditButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px dotted rgba(0,0,139,0.596);
            cursor: pointer;
        }

        .deleteButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px dotted rgba(220,20,60,0.6);
            cursor: pointer;
        }*/
    }

    .statusActive {
        color: green;
        background-color: rgba(0,128,0,0.05);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 7px;
        padding-left: 7px;
        border-radius: 15px;
    }

    .statusInactive {
        color: goldenrod;
        background-color: rgba(255,0,0,0.05);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 7px;
        padding-left: 7px;
        border-radius: 15px;
    }
}