@import "../_variables.scss";

* {
    margin: 0;
    padding: 0;
    font-family: $general-font;
}


body {
    background-color: $background;
}

.container {
    display: flex;
    width: 100vh;
}

.main-content {
    height: 100vh;
    right: 100vh;
}

.mainHeader {
    background-color: $primary-bars-color;
    height: 60px;
    width: 1830px;
}

.mainFooter {
    border-top: 3px solid $primary-bars-color;
    border-left: 3px solid $primary-bars-color;
    background-color: $background;
    height: 60px;
    width: 1830px;
    bottom: 0;
    position: fixed;
    display: table;

    span {
        display:table-cell; 
        vertical-align:middle
    }
}

.sidebar {
    background-color: $primary-bars-color;
    color: black;
    height: 100vh;
    width: 200px;
    position:absolute; 
    left: 0px; 
    top: 0px;
    font-family: $general-font;
}

.top-section {
    background-color: $gray-dabi;
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    font-size: 25px;
}

#logo {
    width: 108px;
    height: 33px;
}

.bars {
    font-size: 20px;
    display: flex;
    margin-left: 30px;
    cursor: pointer;
}

.link {
    display: flex;
    color: black;
    padding: 10px 15px;
    transition: all 0.5s;
    text-decoration: none;
}

.link:hover {
    background-color: #F3F8FB;
    color: black;
    transition: all 0.5s;
}

.icon, .link_text {
    font-size: 20px;
}

.link_text {
    margin-left: 8px;
    margin-top: 2px;
}

