/* Login CSS */

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: #6F706E;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: black;
  font-weight: 800;
}

.Auth-links {
  color: whitesmoke;
  pointer-events: all;
  font-weight: bold;
  text-decoration: none;
}

.Auth-links:hover {
  color: black;
  
}

#Auth-button {
  background-color: black;
  border: none;
  font-weight: bold;
  color: whitesmoke;
}

.form_input_labels {
  font-size: 14px;
  font-weight: 600;
  color: #171716;
}

.input-label {
  margin-right: 10px;
  font-weight: bold;
}

.input-field {
  margin-bottom: 15px;
  border-radius: 7px;
  width: 15%;
  height: 35px;
}


/* Create & Update CSS */

.title {
  margin-bottom: 30px;
  margin-top: 30px;
}

.cu-content-container {
  text-align: center;
  font-family: 'Helvetica';
}

.cu-button {
  border-radius: 5px;
  width: 120px;
  height: 40px;
  color: whitesmoke;
  font-weight: bold;
  background-color: #171716;
  margin-top: 17px;
}

/* Recovery CSS */
.Recovery-container {
  text-align: center;
  margin-top: 300px;
}

.rec-button {
  border-radius: 5px;
  width: 120px;
  height: 40px;
  color: whitesmoke;
  font-weight: bold;
  background-color: #171716;
  margin-top: 17px;
}

/* List All Users */
.head-row {
  background-color: rgb(5, 5, 95);
  color: white;
}

.table-rows {
  background-color: #e4f0f5;
}

td,th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
    text-align: center;
}

