@import "../_variables.scss";

#login-page {
    body {
        background: $primary-background;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;
    }
    
    
    /* || OVERLAY CSS */
    
    #overlay-primary-text {
        font-weight: bold;
        font-size: 35px;
        color: $overlay-ptext-color;
        font-family: $menu-font;
        letter-spacing: 1.2px;
    }
    
    #overlay-initialp {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 0.5px;
        font-family: $general-font;
    }
    
    #overlay-primaryp {
        font-size: 14px;
        font-weight: 100;
        font-family: $general-font;
    }
    
    #overlay-button {
        width: 250px;
        height: 40px;
        border-radius: 20px;
        background-color: transparent;
        border-color: $overlay-button-color;

        a {
            color: $overlay-button-color;
            text-transform: uppercase;
            font-family: $general-font; 
            font-weight: bold;
            letter-spacing: 0.8px;
        }
    }
    
    .overlay-container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
    }
    
    .overlay {
        background-color: $overlay-background;
        color: #FFFFFF;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
    }
    
    .overlay-panel {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        top: 0;
        height: 100%;
        width: 50%;
    }
    
    .overlay-right {
        right: 0;
    }
    
    /* || LOGIN CSS */
    #login-button {
        background-color: $login-button-bg;
        color: $login-button-color;
        text-transform: uppercase;
        width: 250px;
        height: 40px;
        border-radius: 20px;
        border-color: $login-button-color;
        font-family: $general-font;
        font-weight: bold;
    }

    #logo {
        width: 82px;
        height: 25px;
    }

    span {
        font-size: 12px;
        font-family: $general-font;
    }
    
    a {
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
        font-family: $general-font;
    }
    
    form {
        background-color: $login-background;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
    }
    
    input {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
        font-family: $general-font;
        font-size: 13px;
    }
    
    /* || CONTAINERS CSS */
    .container {
        background-color: $login-background;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        overflow: hidden;
        
        position: fixed;
        top: 47%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        width: 768px;
        max-width: 100%;
        min-height: 480px;
    }
    
    .form-container {
        position: absolute;
        top: 0;
        height: 100%;
    }
    
    .login-container {
        left: 0;
        width: 50%;
        z-index: 2;
    }
    
    /*|| SOCIAL CSS*/
    
    .social-container {
        margin: 25px 0;
    }
    
    .social-container a {
        border: 1px solid #DDDDDD;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 40px;
        width: 40px;
        font-size: 15px;
    }
}

