/* || LOGIN */
$primary-background: #F6F5F7;
$overlay-background: rgb(32, 30, 30);
$login-background: #FFFFFF;
$overlay-ptext-color: #FFFFFF;
$overlay-button-color: #FFFFFF;
$login-button-bg: red;
$login-button-color: white;

/* || FOOTER LOGIN*/
$footer_bg_color: #000000;
$footer_font_color: #FFFFFF;
