@font-face {
    font-family: RobotoCondensedBold;
    src: url(../Media/Fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../Media/Fonts/Quicksand/Quicksand-Regular.ttf);
}

$red-dabi: #dc1f0f;
$gray-dabi: #4a4a4a;

$primary-bars-color: #FFFFFF;
$background: #F5F6F8;

/* || LOGIN */
$primary-background: #F6F5F7;
$overlay-background: $gray-dabi;
$login-background: #FFFFFF;
$overlay-ptext-color: #FFFFFF;
$overlay-button-color: #FFFFFF;
$login-button-bg: $red-dabi;
$login-button-color: white;
$menu-font: RobotoCondensedBold;
$general-font: Quicksand;

/* || FOOTER LOGIN*/
$footer_bg_color: #000000;
$footer_font_color: #FFFFFF;
