@import "../_variables.scss";

.site-title {
    margin-bottom: 10px;
    font-family: $general-font;
    font-weight: 800;
    font-size: 20px;
}

.create-equip-icon {
    font-size: 30px;
    color: $gray-dabi;
}

.create-equip-icon:hover {
    color: $red-dabi;
}

.sitea-container {
    width: 100%;
    height: 80vh;
    

    .site-form-container {

        #site-form-id {
            display: flex;

            .site-form-column {
                flex: 50%;
            }

            #sa-form-field {
                width: 100%;
                .input-container {
                    width: 400px;
                    .input-field{
                        width: 100%;
                    }
                }
            }

            #large-form-field {
                width: 100%;
                .input-container {
                    width: 100%;
                    .input-field{
                        width: 100%;
                    }
                }
            }
        }
    }     
}


.button-container {
    margin-bottom: 2px;
}

.assets-container {
    height: 1px;
}